body{
    /* background-color: #ffff00; */
    background-image: url(./images/armenia_syunik_tatev_sunrise_hayk_b-wallpaper-1366x768.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color:white;  
}
